@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

:root{
    --max-width: 1100px;
    --primary-color : #ce1212;
    --secondary-color : #fa9905;
    --light-color : #dbdbdb;
    --dark-color : #393e46;
    --ent-color : #f21170;
    --tech-color : #2940d3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height : 1.5;
    background: var(--light-color);
}

/* Backgroun Classes */
.bg-light{
    background: #ffffff;
    color: var(--dark-color);
}
.bg-dark{
    background: var(--dark-color);
    color: #ffffff;
}
.bg-primary{
    background:var(--primary-color);
    color: #ffffff;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #ffffff;
}
/* Padding Classes */
.py-1{ padding: 1rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}
.px-1{ padding: 0 1rem;}
.px-2{ padding: 0 2rem;}
.px-3{ padding: 0 3rem;}
.p-1{ padding: 1rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}

h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}
p{
    font-size: .90rem;
}
input{
    border: none;
    display: block;
    width: 100%;
    padding: .75rem;
    border-radius: 5px;
    margin-top: .75rem;
}
.container{
    max-width: var(--max-width);
    padding-right: 2rem;
    padding-left: 2rem;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}
button{
    display: block;
    width: 100%;
    border: none;
}
ul{
    list-style-type: none;
}
.nav{
    background: #ffffff;
}
.navbar-box{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
    z-index: 2;
}

.navbar-box .logo{
    width: 180px;
}

.navbar-box .social{
    justify-self: center;
}

.navbar-box .social i{
    color: var(--dark-color);
    margin-right: .5rem;
}

.navbar-box ul{
    display: flex;
    justify-self: end;
}

.navbar-box ul li a{
    padding: .75rem;
    font-weight: bold;
}

.navbar-box ul li a.current{
    background: var(--primary-color);
    color: #ffffff;
    transition : background 500ms ease;
}

.navbar-box ul li a:hover{
    background: var(--dark-color);
    color: #ffffff;
    transition : background 500ms ease;
}

.header{
    height: 60vh;
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: relative;
    z-index: 2;
    color: #ffffff;
    
}

.header-box{
    display: grid;
    grid-template-columns: .5fr;
    align-items: center;
    justify-content: start;
    height: 100%;  
}

.tag{
    display: inline-block;
    padding: .25rem 1rem;
    text-align: center;
    border-radius: 15px;
    margin-bottom: .25rem;
}

.tag.tag-sports{color: #ffffff;background: var(--secondary-color);}
.tag.tag-ent{color: #ffffff;background: var(--ent-color);}
.tag.tag-tech{color: #ffffff;background: var(--tech-color);}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.btn.btn-primary{
    background: var(--primary-color);
    color: #ffffff;
    transition : background 500ms ease;
}

.btn.btn-primary:hover{
    background: var(--dark-color);
}

.btn.btn-dark{
    background: var(--dark-color);
    color: #ffffff;
    transition : background 500ms ease;
}

.btn.btn-dark:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.btn.btn-sports{
    background: var(--secondary-color);
    color: #ffffff;
    transition : background 500ms ease;
}

.btn.btn-sports:hover{
    background: var(--secondary-color);
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

/* Articles */
.edit-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding-bottom: 10px;
}
.edit-box > .edit-item:first-child,
.edit-box > .edit-item:last-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.edit-box > .edit-item:first-child{ grid-column: 1 / span 2; }
.edit-box > .edit-item:last-child{ grid-column: 2 / span 2; }

.edit-item{
    padding: 15px;
}
.edit-item img{
    width: 100%;
}

/* Footer Section */
.footer-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.footer-box .footer-item:first-child img{
    width: 150px;
}
.footer-box .footer-item:nth-child(3) ul li{
    padding: 1rem;
    border-bottom: .5px solid rgba(0255,255,255,0.3);
}
.footer-box .footer-item:nth-child(3) ul li a{
    color: var(--light-color);
}
.footer-box .footer-item:nth-child(3) ul li a:hover{
    color: var(--primary-color);
}
.footer-box .footer-item:last-child{
    background: rgba(0,0,0,0.4);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1rem;
    border-radius: 5px;
}

/* About Us Page */
.about-box{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, .5fr);
    grid-gap: 1.5rem;
}

.article-box > div,
.about-box > div{
    padding: 1.5rem;
}
.article-box > div p,
.about-box div p{
    line-height: 2;
    margin-top: 10px;
}
.about-box  div:first-child{
    grid-row: 1/span 3;
}
.article-box > div:last-child a,
.about-box div a{
    display: block;
    text-align: center;
    padding: .75rem;
}
/* Article Section */
.article-box{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap : 1.5rem;
    grid-template-rows: repeat(4,auto);
}

.article-box > div img{
    width: 100%;
}
.article-box > div:first-child div{
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.article-box > div:first-child{
    grid-row: 1/span 4;
}

.article-box > div:nth-child(2) ul li{
    padding: .5rem 0;
    border-bottom: .5px dotted var(--dark-color);
}
.article-box > div:nth-child(2) ul li a{
    color: var(--dark-color);
}
.article-box > div:nth-child(2) ul li a:hover{
    color: var(--primary-color);
}

/* Media Queries */
@media screen and (max-width:768px){
        /* Navbar */
        .navbar-box .social{
            display: none;
        }
        .navbar-box{
            grid-template-columns: 1fr 1fr;
        }
        .navbar-box ul li a{
            padding: .50rem;
            font-weight: bold;
        }
        /* Main header */
        .header-box,
        .edit-box > .edit-item:first-child,
        .edit-box > .edit-item:last-child,
        .footer-box
        {
            grid-template-columns: 1fr;
        }
        
        .edit-box > .edit-item:first-child,
        .edit-box > .edit-item:last-child
        { grid-column: 1; }
        
        .edit-box .box-content{
            padding: .75rem;
        }

        .edit-box{
            grid-template-columns: 1fr 1fr;
        }
        /* Footer */
        .footer-box .footer-item:last-child{
            grid-column-start: 1;
            grid-column-end: 1;
        }
        /* About Us Section */
        .article-box,
        .about-box{
            grid-template-columns: 1fr;
            grid-template-rows: 1;
        }
}
@media screen and (max-width:600px){
    .edit-box
    {
        grid-template-columns: 1fr;
    }
    .article-box > div:first-child div {
        font-size: .75rem;
    }
}